.swiper-button-prev-custom {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-next-custom {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
